.container {
  width: auto;
  height: 16rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background: var(--shape);
  animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 1.5rem;

    div.title {
      display: flex;
      flex-direction: column;
    }
  }

  .btnExpand {
    width: 1.5rem;

    align-self: flex-end;

    margin: 1rem 1.5rem;
  }

  .btnDetails {
    position: relative;
  }

  .btnDetails, .btnExpand {
    cursor: pointer;
  }
}

@keyframes scale-up-center{
  0%{
    opacity: 0;
    transform:scale(.9)
  } 100%{
    opacity: 1;
    transform:scale(1)
  }
}
