* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1b1b1b;
  --shape: #302631;
  --gray: #2e2e2e;
  --text-hud: #8B8A8B;
  --white: #fff;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--white);
}

body, input, textarea, select, button {
  font: 400 1rem "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6, strong {
  font-weight: bold;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}


.react-modal-overlay {
  background: rgba(0,0,0,0.5);

  position: fixed;
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.react-modal-content {
  margin: 2rem;
  outline: none;
  animation:scale-up-center .3s cubic-bezier(.39,.575,.565,1.000) both;
  width: 100%;
  max-width: 476px;
  background: #FEFEFF;

  position: relative;
  border-radius: 0.24rem;
}

@keyframes scale-up-center{
  0%{
    opacity: 0;
    transform:scale(.9)
  } 100%{
    opacity: 1;
    transform:scale(1)
  }
}

.react-calendar {
  max-width: 100%;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  .react-calendar--doubleView {
    width: 700px;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: 0;
    color: #fff;
    margin: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .react-calendar__navigation button:first-child,
  .react-calendar__navigation button:last-child {
    display: none;
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #171717;
    color: #fff;
    border-radius: 2rem;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
  }
  .react-calendar__month-view {
    background: var(--shape);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 16px 0px rgba(0,0,0,0.25);
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    color: #DBD7DC;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day {
    color: rgb(177, 172, 172);
  }
  .react-calendar__month-view__days__day--weekend {
    color: #a37eff;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #8b8a8b53;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
  }

  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #03050345;
    color: #DBD7DC;
  }
  .react-calendar__tile--now {
    background: #03050377;
    color: #DBD7DC;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #030503;
    filter: brightness(0.8);
  }
  .react-calendar__tile--hasActive {
    background: #030503;
  }
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
  }
  .react-calendar__tile--active {
    background: #030503;
    color: DBD7DC;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #030503;
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
}

.react-calendar__month-view__days__day--weekend:hover,
.react-calendar__month-view__days__day--weekend:focus {
  color: #a37eff;
  background: #1b161bba;
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
}

abbr[title] {
  text-decoration: none;
  cursor: default;
}
