.container {
  height: 34rem;
  background: var(--shape);

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    filter: brightness(0.9);
    color: #FEFEFF;

    padding: 1rem 1.5rem;

    div.title {
      display: flex;
      flex-direction: column;
    }
    > img {
      align-self: flex-start;
      position: relative;
    }
  }

  > .btnExpand {
    align-self: flex-end;
    width: 1.5rem;
    margin: 1rem 1.5rem;
  }
}

.content {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  color: #464647;
  padding: 1rem 2.5rem;

  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    flex: 1;

    &+li {
      margin-top: 0.5rem;
    }
  }
}

.inputList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;

  input {
    padding: 0.25rem 0.75rem;
    flex: 1;
    background: transparent;
    outline: none;
    border: 0;
    border-bottom: 1px solid #fff;
    margin-right: 1rem;
  }

  button {
    width: 2rem;
    display: flex;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
  }
}

.btnDetails, .btnExpand {
  cursor: pointer;
}

.btnDetails {
  position: relative;
}

.tabConfig {
  animation:scale-up-ver-top .2s cubic-bezier(.39,.575,.565,1.000) both;
  background: #D8D8D8;
  box-shadow: 3px 3px 10px 1px rgba(0,0,0,0.39);
  padding: 1.25rem;

  position: absolute;
  z-index: 5;
  right: -2.25rem;
  width: 11.5rem;
  height: 10rem;

  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 1rem;
  border-radius: 0.5rem;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    right: 2.25rem;
    -webkit-transform: translateX(0%);
    transform: rotateX(180deg);
    border-style: solid;
    border-color: #D8D8D8 transparent;
    border-width: 10px 10px 0 10px;
  }

  a {
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    color: black;

    img {
      width: 1rem;
      margin-right: 0.75rem;

      filter: black;
    }
  }
}

.todoColorContainer {
  display: flex;
  flex-direction: column;
  animation:scale-up-center .3s cubic-bezier(.39,.575,.565,1.000) both;

  strong {
    color: #606061;
  }
}

.todoColorContent {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  button {
    height: 1rem;
    width: 1rem;
    background: #464647;
    border: 1px solid rgb(60, 60, 60);
    box-shadow: 1px 1px 7px 0px rgba(0,0,0,0.53);

    border-radius: 50%;
  }
}

@keyframes scale-up-center{
  0%{
    opacity: 0;
    transform:scale(.9)
  } 100%{
    opacity: 1;
    transform:scale(1)
  }
}

@keyframes scale-up-ver-top{0%{transform:scaleY(.4);transform-origin:100% 0}100%{transform:scaleY(1);transform-origin:100% 0}}
