.container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: var(--background);

  h1 {
    text-align: center;
  }

  img {
    width: 20rem;
    margin-bottom: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1120px;
  
  input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid var(--white);
    margin-top: 1rem;
    outline: none;
    padding: 0.5rem 1rem;
    color: #fff;

    &:focus {

    }
  }

  button {
    height: 3rem;
    margin-top: 1rem;
    background: var(--gray);
    color: #fff;
    border: 0;
    border-radius: 2rem;
  }
}