$colorGreen: #00BF7A;
$colorRed: #E52E43;
$colorOrange: #FF6C56;
$colorBlue: #0063E6;
$colorBlack: #302631;
$colorDefault: #fefeff;


:export {
  colorBlue: $colorBlue;
  colorGreen: $colorGreen;
  colorRed: $colorRed;
  colorOrange: $colorOrange;
  colorBlack: $colorBlack;
  colorDefault: $colorDefault;
}
